* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#column1, #column2 {
    background-color: lightsteelblue;
    height: 250vh;
    font-weight: bold;
}

#column1 {
    width: 15%;
}

#column2 {
    width: 21%;
}

#center-column {
    background-color: white;
    height: 100vh;
    width: 64%;
}

.intro { 
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 14px;
}

hr {
    border: 1px solid darkslategray;
}

#letter-tile {
    background-color:cornsilk;
    font-size: 40px;
}

.button {
    outline:auto;
    margin: 0;
    border: 0;
    border-radius: .25em;
    cursor: pointer;
    padding: .4em .8em;
    text-rendering: optimizeLegibility;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    color: inherit;
    box-shadow: 0 .2em #888;
    -webkit-transform: translateY(-.2em);
    -moz-transform: translateY(-.2em);
    transform: translateY(-.2em)
}

#word {
    text-align: left;
}

.submit {
    padding-top: 20px;
    font-size: 18px;
}

#word-button {
    background-color: cornsilk;
    font-weight: bold;
    font-size: 14px;
}

.messages {
    max-height: 50px;
    font-size: 28px;
    font-weight: bold;
}

.goal {
    max-height: 70px;
    font-size: 24px;
    color: green;
    font-weight: bold;
}

.goal p {
    margin: 0;
}

.word-list {
   padding-left: 5px;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
    border-radius: .2em;
  }

.quit {
    display: flex;
    justify-content: space-evenly;
}

#quit-only, #quit-show, #shuffle, #return {
    background-color: cornsilk;
    color: black;
    font-size: 16px;
    font-weight: 600;
    width: 170px;
}